%h1 Listing assessments

%table
  %tr
    %th Category
    %th Assessment
    %th Description
    %th
    %th
    %th

  - @assessments.each do |assessment|
    %tr
      %td= assessment.category_id
      %td= assessment.assessment
      %td= assessment.description
      %td= link_to 'Show', assessment
      %td= link_to 'Edit', edit_assessment_path(assessment)
      %td= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Assessment', new_assessment_path
