= form_for @company do |f|
  .row
    .span4
      .form-horizontal
        .control-group
          %lablel.control-label
            Company
          .controls
            = f.text_field :name
        .control-group
          %lablel.control-label
            Foundation
          .controls
            = f.text_field :foundation, class: :datepicker
        .control-group
          %lablel.control-label
            Employers
          .controls
            = f.text_field :employers
    .span8
      .row-fluid
        .span12
          .form-horizontal
            %label.control-label
              Published
            .controls
              = f.check_box :published 
      .row-fluid
        .span5.offset1#company_brands_selector
          = text_field_tag 'brands_selector',nil, {placeholder: :brands, data: {provide: :typeahead, source: Brand.all.map(&:name), model: :company}, autocomplete: :off}
          = render partial: 'brands/brand.html.haml', collection: @company.brands, locals: {object: :company, width: 220, style: 'margin-left: 0px;'}
        .span5.offset1
          = text_field_tag 'categories_selector',nil, {placeholder: :categories, data: {provide: :typeahead, source: Category.all.map(&:name), model: :category}, autocomplete: :off}
          - for category in @company.categories
            %p= category.name
  .row
    .form-horizontal
      .span4
        .control-group
          %label.control-label
            Slogan
          .controls
            = f.text_field :slogan
        .control-group
          %label.control-label
            SWAT
          .controls
            = f.text_area :swat, rows: 5
      
          

  = f.submit class: 'btn btn-primary', style: 'position: fixed; right: 10px; top: 50px'
  = link_to 'Cancel', '#'

%br/
= controller_name.singularize


  