= form_for @offer do |f|
  .row
    .span4
      .form-horizontal
        .control-group
          = f.label :company, class: 'control-label'
          .controls
            = f.select :company_id, Company.all.map{|i| [i.name, i.id]}
        .control-group
          = f.label :date_start, class: 'control-label'
          .controls
            .input-append
              = f.text_field :date_start, class: :datepicker
              
        .control-group
          = f.label :date_end, class: 'control-label'
          .controls
            .input-append
              = f.text_field :date_end, class: :datepicker
              
    .span4
      .form-horizontal
        .control-group
          = f.label :header, class: 'control-label'
          .controls
            = f.text_field :header
        .control-group
          = f.label :advert, class: 'control-label'
          .controls
            = f.text_area :advert, rows: 4
  .row
    .span3#offer_brands_selector
      %legend
        Brands
      .control-group
        = f.label :brands, class: 'control-label'
        .controls

          = text_field_tag :offer_brands_name, '', data: {provide: :typeahead, source: Brand.all.map(&:name)}, autocomplete: :off
      - @offer.brands.each do |brand|
        = render brand, object: @offer
    .span3#items_selector
      %legend
        Items
      .control-group
        = f.label :items, class: 'control-label'
        .controls

          = text_field_tag :offer_items_typeahead, '', data: {provide: :typeahead, source: Item.all.map{|i| "[#{i.brand.name}] #{i.name}"}} , autocomplete: :off
      - @offer.items.each do |item|
        = render item, object: @item

  .row
    
    %legend
      Categories
    .control-group
      %label.control-label
        Category
      .controls
        .row-fluid
          - for category in Category.roots
            .span3
              = f.check_box :category_ids, {multiple: true, checked: @offer.category_ids.include?(category.id) ? true : false}, category.id, nil
              = category.name
              - for category in category.children
                .row-fluid
                  .span9.offset1
                    = f.check_box :category_ids, {multiple: true, checked: @offer.category_ids.include?(category.id) ? true : false}, category.id, nil
                    = category.name
                    - for category in category.children
                      .row-fluid
                        .span9.offset1
                          = f.check_box :category_ids, {multiple: true, checked: @offer.category_ids.include?(category.id) ? true : false}, category.id, nil
                          = category.name
  = f.submit class: 'btn btn-large btn-primary'