.alert.span3.alert-info.brand{style: "#{style}margin-bottom: 5px; width: #{width || 200}px", id: brand.id}
  %button.close{type: :button, data:{dismiss: :alert}}
    &times;
  = brand.name
  %input{id: "#{object}_brand_ids_#{brand.id}", name: "#{object}[brand_ids][]", value: brand.id, type: :hidden}
 
