= form_for @brand do |f|
  .form.form-horizontal
    .control-group
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: :span6
    .control-group
      = f.label :description, class: 'control-label'
      .controls
        = f.text_area :description, :rows => 5, class: :span6
    .control-group
      = f.label :country_id, class: 'control-label'
      .controls
      
        = f.text_field :country_name, data: {provide: :typeahead, source: Country.all.map(&:name)}, autocomplete: :off
        
    = render partial: 'categories_selector', locals: {form: f}



          

          
  .actions
    = f.submit 'save', class: [:btn, 'btn-primary']
