%legend
  Listing brands

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Description
    %th Country
    %th{style: 'width: 9%;'} actions
    

  - @brands.each do |brand|
    %tr
      %td= brand.name
      %td= brand.description
      %td= brand.country.try :name
      %td
        = link_to glyph(:search), brand, class: 'btn btn-mini'
        = link_to glyph(:edit), edit_brand_path(brand), class: 'btn btn-mini'
        = link_to glyph(:remove), brand, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'

%br

= link_to 'New Brand', new_brand_path
