.object{id: @category.id}
.container
  %legend
    Edit subcategory
  = form_for @category do |f|

    .form-horizontal
      .control-group
        %label.control-label
          Publish
        .controls
          = f.check_box :published
      .control-group
        %label.control-label
          Name
        .controls
          = f.text_field :name, class: :span6
      .control-group
        %label.control-label
          Description
        .controls
          = f.text_area :description, {:rows => 5, class: :span6}
    .row

      - @assessments.each do |assessment|
        .span3
          %legend
            Assessment
            = assessment.id
          = f.fields_for :assessments, assessment do |nest|
            = nest.hidden_field :id
            = nest.text_field :name, class: :span3
            = nest.text_area :description, {rows: 5, class: :span3}
    %hr
    .row
      #category_brand_selector
        %legend
          Brands


        - 5.times do |i|
          .row
            .span3#brand_selector
              = text_field_tag 'category[feed_data][brands][]', @category.matrix_brands[i].try(:name), {placeholder: 'Choose brand', data: {provide: :typeahead, source: Brand.all.map(&:name), model: :category}, autocomplete: :off}
            .span3#first_item_brand_selector
              = text_field_tag "category[feed_data][items][#{i}][]", Item.find_by_id(@category.matrix.items[i.to_s] ? @category.matrix.items[i.to_s][0] : '').try(:name), {placeholder: 'Choose item in scope of brand', data: {provide: :typeahead, source: items, model: :category}, autocomplete: :off}
            .span3#second_item_brand_selector
              = text_field_tag "category[feed_data][items][#{i}][]",  Item.find_by_id(@category.matrix.items[i.to_s] ? @category.matrix.items[i.to_s][1] : '').try(:name), {placeholder: 'Choose item in scope of brand', data: {provide: :typeahead, source: items, model: :category}, autocomplete: :off}
            .span3#third_item_brand_selector
              = text_field_tag "category[feed_data][items][#{i}][]",  Item.find_by_id(@category.matrix.items[i.to_s] ? @category.matrix.items[i.to_s][0] : '').try(:name), {placeholder: 'i will blast all the humans', data: {provide: :typeahead, source: items, model: :category}, autocomplete: :off}


    %hr
    .row
      - @mistakes.each do |mistake|
        .span3
          %legend
            Mistakes
            = mistake.id
          = f.fields_for :mistakes, mistake do |nest|
            = nest.hidden_field :id
            = nest.text_field :name, class: :span3
            = nest.text_area :description, {rows: 5, class: :span3}
    
    = f.submit class: :btn
