.container
  %legend
    Edit subcategory
  = form_for @category do |f|

    .form-horizontal
      .control-group
        %label.control-label
          Publish
        .controls
          = f.check_box :published
      .control-group
        %label.control-label
          Name
        .controls
          = f.text_field :name, class: :span6
      .control-group
        %label.control-label
          Description
        .controls
          = f.text_area :description, {:rows => 5, class: :span6}
    .row

      - @assessments.each do |assessment|
        .span3
          %legend
            Assessment
            = assessment.id
            
          = f.fields_for :assessments, assessment do |nest|
            = nest.hidden_field :id
            = nest.text_field :name, class: :span3
            = nest.text_area :description, {rows: 5, class: :span3}
    %hr
    .row
      .span3
        %legend
          Brands
        .control-group
          .controls
            = text_field_tag 'brands_selector',nil, {placeholder: 'Choose brand', data: {provide: :typeahead, source: Brand.all.map(&:name), model: :category}, autocomplete: :off}
          
      .span9#category_brands_selector
        .row-fluid
          = render partial: '/brands/brand', collection: @category.brands, locals: {object: :category}


    %hr
    .row
      - @mistakes.each do |mistake|
        .span3
          %legend
            Mistakes
            = mistake.id
          = f.fields_for :mistakes, mistake do |nest|
            = nest.hidden_field :id
            = nest.text_field :name, class: :span3
            = nest.text_area :description, {rows: 5, class: :span3}
    
    = f.submit class: :btn
