%ul.nav.nav-tabs
  - for category in @categories
    %li{class: ('active' if @categories.index(category) == 0)}
      %a{href: "##{category.name}", 'data-toggle' => :tab}
        = category.name
.tab-content
  - for category in @categories
    .tab-pane.fade{class: ('active in' if @categories.index(category) == 0), id: category.name}
      .row-fluid
        .span3
          %h2{style: 'margin: 0 15px'}
            = category.name
        .span2{style: 'margin-top: 8px'}
          = render 'actions', category: category




      - for sub in category.children
        .media

          .media-body{style: 'margin-left: 60px;'}
            .media-heading
              %legend{style: 'margin-bottom: 5px'}
                .row-fluid
                  .span3
                    %h3
                      = sub.name
                  .span2
                    = render 'actions', category: sub



            - for subcategory in sub.children
              .media
                .media-body{style: 'margin-left: 60px;'}
                  .media-heading
                    %legend{style: 'margin-bottom: 5px'}
                      .row-fluid
                        .span3
                          = subcategory.name
                        .span2
                          = render 'actions', category: subcategory

              .row-fluid{style: 'margin-bottom: 5px;'}


2