.row
  %legend
    %h1
      = @category.parent.try(:name)
      \- 
      = @category.name
.container
  .row
    .span9
      
      .row-fluid
        .span3
          %legend
            %h2{style: 'text-align: right;margin-top: -4px'}
              What kinds
        .span9
          = @category.description.presence || t('lorem')
      %hr/
      .row-fluid
        .span3
          %legend
            %h2{style: 'text-align: right;margin-top: -4px'}
              Assessments
        .span9
          .row-fluid
            %ul.thumbnails
              - @category.assessments.each do |assessment|
                %li.span3.thumbnail
                  %h4= assessment.name.presence || 'lorem'
                  %br/
                  = assessment.description.presence ? assessment.description.html_safe : t('lorem')[0..rand(50)+50]
      %hr/
      .row-fluid
        .span3
          %legend
            %h2{style: 'text-align: right;margin-top: -4px'}
              Brands
        .span9
          .row-fluid
            - for brand in @category.brands
              .media
                %img.pull-left.media-object{data: {src: 'holder.js/120x120'}}
                .media-body
                  %h5.media-heading
                    = brand.name
                  %p{style: 'text-align: justify;'}
                    = brand.description
                    .media
                      %img.pull-left.media-object{data: {src: 'holder.js/90x90'}}
                      .media-body
                  
                        - for item in brand.items.limit(3)
                    
                          %h6
                            = item.name
                          %p
                            - if item.description
                              = item.description[0..150]
                              %a{:href => '#', :rel => :popover, data: {trigger: :hover, content: item.description, 'original-title' => item.name, placement: :top}} >>>
                          
                          = "Price: #{item.price_from} - #{item.price_to}"

            - brands = @category.matrix.brands
            - brands.each do |brand_id|
              .media
                - if brand = Brand.find(brand_id)
                  - if src = brand.photo.try(:url)
                    %img.pull-left.media-object{src: src, style: 'width: 120px'}
                  - else
                    %img.pull-left.media-object{data: {src: 'holder.js/120x120'}}

                  .media-body
                    %h5.media-heading
                      = brand.name
                    %p{style: 'text-align: justify;'}
                      = brand.description
                      - for item_id in @category.matrix.items[brands.index(brand_id).to_s]
                        - if item = Item.find_by_id(item_id)
                          .media
                            - if src = item.photo.try(:url)
                              %img.pull-left.media-object{src: src, style: 'width: 90px'}
                            - else
                              %img.pull-left.media-object{data: {src: 'holder.js/90x90'}}
                            .media-body
                              %h5.media-heading
                                = item.name
                              %p
                                = item.description
                              %p
                                Price:
                                = item.price_from
                                \-
                                = item.price_to
      %hr/
      .row-fluid
        
        .span3
          %legend
            %h2{style: 'text-align: right;margin-top: -4px'}
              Mistakes
        
        .span9
          
          - (@category.mistakes).each_slice(4).to_a.each do |row|
            .row-fluid
              - row.each do |mistake|
                .span3
                  %h4= mistake.name.presence || 'lorem'  
                  %br/
                  = mistake.description.presence || t('lorem')[0..rand(50)+50]
      %hr/
      .row-fluid
        .span3
          %legend
            %h2{style: 'text-align: right;margin-top: -4px'}
              Who
        .span9
          %p= t('lorem')[0..rand(50)+250]
          %table.table-striped.table
            - 6.times do
              %tr
                %td Company1
                %td Address1
                %td
                  Rating
                  %span.star
                    %i.icon-star
                  %span.star
                    %i.icon-star
                  %span.star
                    %i.icon-star
                  %span.star
                    %i.icon-star-empty
                  %span.star
                    %i.icon-star-empty
                
                %td
                  %a{:href => '#'}
                    Moar info

    .span3
      .well.well-small
        - if @category.reviews.any?
          - for review in @category.reviews
            %legend
              %h5
                = [review.name, review.phone, review.place].join(', ')
            %p
              = t('lorem')[0..rand(50)+50]
        - else
          no reviews yet


      .well.well-small
        offers



