= form_for @review do |f|
  %legend
    = t('company')
  = f.text_field :company_name, data: {provide: :typeahead, source: Company.all.map(&:name)} , autocomplete: :off, :placeholder => "Search..."

    
  .row
    .span3
      
    .span3
      = f.check_box :publish
      = t :publish, scope: [:activerecord, :attributes, :review]
    .span3
      = link_to (t :cancel), 'cancel'
      = f.submit :class => 'btn btn-main'
  .row

    %legend
      Contact details from people
    = f.text_field :name, :placeholder => :name
    = f.text_field :phone, :placeholder => :phone
    = f.text_field :place, :placeholder => :place
    = f.select :square, [100,200,300,400], prompt: 'square'
    = f.select :total_sum, [100,200,300,400], prompt: 'total_sum'
    .input-append
      = f.text_field :date1, :placeholder => 'Created_at dd:mm:yyyy', class: :datepicker, value: (@review.date1.strftime('%d/%m/%Y') if @review.date1)
  .row
    %legend
      Items
  .row
    .form.form-inline
      .span4#items_selector
        .controls
          .input-append
            = text_field_tag :review_items_typeahead, '', data: {provide: :typeahead, source: Item.all.map{|i| "[#{i.brand.name}] #{i.name}"}} , autocomplete: :off, :placeholder => "Search..."


            %span.add-on
              %i.icon-search

      .span4
        = link_to 'view attachable file: Example.xls', 'view attachable file'
  .row{style: 'margin-top: 10px;'}
    %ul.thumbnails
      - @review.items.each do |item|
        %li.span3.alert.alert-info{style: 'width: 226px;'}
          %button.close{'data-dismiss' => 'alert', data: {object: 'Item', id: item.id}} &times;
          = item.name
  .row
    %legend CSI
  .row
    .span3
      .row-fluid
        .span8 Speed
        .span4
          - @review.speed.to_i.times do |i|
            = link_to glyph(:star), review_path(@review, review: {:speed => i + 1}), remote: true, method: :put

          - (5 - @review.speed.to_i).times do |i|
            = link_to glyph(:star_empty), review_path(@review, review: {:speed => i + @review.speed.to_i+ 1}), remote: true, method: :put

      .row-fluid
        = f.text_area :speed_description, class: :span12, rows: 4
        

    .span3
      .row-fluid
        .span8 Quality
        - @review.quality.to_i.times do |i|
          = link_to glyph(:star), review_path(@review, review: {:quality => i + 1}), remote: true, method: :put

        - (5 - @review.quality.to_i).times do |i|
          = link_to glyph(:star_empty), review_path(@review, review: {:quality => i + @review.quality.to_i+ 1}), remote: true, method: :put
      .row-fluid
        = f.text_area :quality_description, class: :span12, rows: 4
        

    .span3
      .row-fluid
        .span8 Price
        - @review.price.to_i.times do |i|
          = link_to glyph(:star), review_path(@review, review: {:price => i + 1}), remote: true, method: :put

        - (5 - @review.price.to_i).times do |i|
          = link_to glyph(:star_empty), review_path(@review, review: {:price => i + @review.price.to_i+ 1}), remote: true, method: :put

      .row-fluid
        = f.text_area :price_description, class: :span12, rows: 4


    .span3
      .row-fluid
        .span8 Response
        - @review.response.to_i.times do |i|
          = link_to glyph(:star), review_path(@review, review: {:response => i + 1}), remote: true, method: :put

        - (5 - @review.response.to_i).times do |i|
          = link_to glyph(:star_empty), review_path(@review, review: {:response => i + @review.response.to_i+ 1}), remote: true, method: :put

      .row-fluid
        = f.text_area :response_description, class: :span12, rows: 4

  .row
    .span3
      Would recommend to friend:
    .span2
      .form-inline
        = f.radio_button :recommend, true
        %label.radio Yes
        = f.radio_button :recommend, false
        %label.radio No
    .span3.offset1
      To who:
    
      %a{:href => '#'}
        = t('lead_form_link')



  .row
    .span3
      What planning to do next:
    .span2
      = f.select :planning, %w(first second third), include_blank: true
    .span3.offset1
      When:
    
      = f.text_field :planning_time, class: :datepicker

  .row
    .span3
      Need offers from companies:
    .span2
      .form-inline
        = f.radio_button :accept_offers, true
        %label.radio Yes
        = f.radio_button :accept_offers, false
        %label.radio No
  = render partial: 'categories_selector', locals: {form: f, object: @review}
